# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Logs y salidas
logs/**/*.log        # Ignora todos los .log en subdirectorios de logs/
!logs/.gitkeep       # Excepto .gitkeep

output/**/*          # Ignora todo en output/
!output/.gitkeep     # Excepto .gitkeep

*.log                # Atrapa cualquier .log fuera de logs/

# Archivos de datos
*.csv
*.xlsx

# Entornos
.env
.env.*

# VSCode
.vscode/

# Secretos
**/secrets/*.json
