# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# ----------------------
# Logs y salidas
# ----------------------
# Ignora todos los .log en subdirectorios de logs/
logs/**/*.log
# Excepto .gitkeep
!logs/.gitkeep

# Ignora todo en output/
output/**/*
# Excepto .gitkeep
!output/.gitkeep

# Atrapa cualquier .log fuera de logs/
*.log

# ----------------------
# Archivos de datos
# ----------------------
*.csv
*.xlsx

# ----------------------
# Entornos
# ----------------------
.env
.env.*

# ----------------------
# VSCode
# ----------------------
.vscode/

# ----------------------
# Secretos
# ----------------------
# Ignora archivos sensibles dentro de secrets/
secrets/*.json
# Excepto .gitkeep
!secrets/.gitkeep
